body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

/*custom css*/

:root {
  --main-color: #fff;
  --secondary-color: #158cee;
  --hash-color: #d6dfdf;
}

.Hangman img {
  width: 200px;
  height: 200px;
}

.Hangman h1 {
  font-size: 3rem;
  font-weight: 400;
  padding-top: 0;
  color: var(--secondary-color);
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 1.5rem;
  color: var(--main-color);
}

.Hangman-btns {
  text-align: center;
  color: var(--secondary-color);
  display: inline-block;
  font-size: 1.5rem;
}
.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 2.5rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  margin: 10px;
  letter-spacing: 0px;
  outline: none;
  background: transparent;
  color: #fff;
  border-radius: 15px;
  box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.5),
    -4px -4px 12px 0 rgba(255, 255, 255, 0.2);
  transition: color box-shadow 200ms ease-in;
}

.Hangman-reset {
  width: 10rem !important;
}
.Hangman button:not(:disabled):hover {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.01);
}

.Hangman button:disabled,
.Hangman button:active {
  opacity: 0.5;
  box-shadow: inset 10px 10px 12px 0 rgba(0, 0, 0, 0.5),
    inset -4px -4px 12px 0 rgba(255, 255, 255, 0.2);
}
