body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0c0c13;
  z-index: 3 !important;
}

:root {
  --main-color: #07ffc9;
  --error-color: #ff1100;
  --secondary-color: #158cee;
  --hash-color: #d6dfdf;
  --level-color: #FFD707;
}

.Hangman img {
  width: 275px;
  height: 350px;
}

.text-primary h3{
  color: var(--level-color);
}

.Hangman h1 {
  font-size: 3rem;
  font-weight: 400;
  padding-top: 0;
  color: var(--secondary-color);
}

.Hangman h2 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 0;
  color: #345FF7;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 1.5rem;
  color: var(--main-color);
}

.Hangman-btns {
  text-align: center;
  color: var(--secondary-color);
  display: inline-block;
  font-size: 1.5rem;
}
.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  width: 5rem;
  margin: 18px 8px 10px 13px;
  letter-spacing: 0px;
  outline: none;
  background: var(--main-color);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding-top: 15px;
  z-index: 3 !important;
}

.Hangman-reset {
  color: var(--hash-color);
  box-shadow: 0 5px var(--main-color) !important;
  width: 10rem !important;
  background-color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0 0 40px var(--main-color);
  z-index: 3;
}

.Hangman-reset2 {
  color: var(--hash-color); 
  box-shadow: 0 5px var(--main-color) !important;
  width: 17.5rem !important;
  background-color: var(--main-color) ; 
  border-color: var(--main-color);
  box-shadow: 0 0 40px var(--main-color);
  z-index: 3;
}

.Hangman-reset3 {
  color: var(--hash-color);
  box-shadow: 0 5px var(--main-color) !important;
  width: 10rem !important;
  background-color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0 0 40px var(--main-color);
  z-index: 3;
}


.Hangman-reset.clicked {
  transition: translateY(10px);
  transform: translateY(10px); 
}

.Hangman-hint {
  color: var(--level-color) ; 
  box-shadow: 0 6px var(--level-color) !important;
  width: 8rem !important ;
  height: 2.5rem !important;
  background-color: var(--level-color) !important ;
  box-shadow: 0 0 40px var(--level-color) ;
  border-radius: 10px !important;
  padding-top: 0px !important;
  text-align: center !important;
}


.Hangman button:hover {
  background-color: #fffffa;
}
.Hangman button:active {
  transform: scale(0.95);
}

.Hangman button:disabled {
  color: var(--hash-color);
  background-color: var(--error-color);
  border-color: var(--error-color);
  box-shadow: 0 0 40px var(--error-color);
  transform: scale(0.95) !important;
}

.animated-button {
  transition: 0.2s ease-in-out;
  z-index: 3;
}

.animated-button:hover {
  transform: scale(1.1);
  z-index: 3;
}


.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events:none;
  z-index: 1 !important;
  opacity: 35% !important; 
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(33, 23, 165, 0.719);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 1s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.picture{
  color: #07ffc9!important;
  padding: 1rem;
  background-color: #ff070700 !important;
  border-color: #07ffc9;
  border-radius: 15px;
  z-index: 3;
  font-size: 18px;

}
.picture option{
  border-radius: 15px;
  border-color: #07ffc9;
  background-color: #0c0c13 !important;
}
.animated-picture{
  transition: 0.2s ease-in-out;
  z-index: 3;
}
.animated-picture:active{
  transform: scale(0.95);
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
